ATIS_01_TOKEN=
DISCORD_GUILD_ID=1427074541917700209
DISCORD_VOICE_CHANNEL_ID=1538401211450130503
ATIS_AIRPORT=MDPC
SUPABASE_URL=
SUPABASE_ANON_KEY=
ATIS_VOICE_ES=es-US-AlonsoNeural
ATIS_VOICE_EN=en-US-GuyNeural
ATIS_LANGUAGE_GAP_MS=2000
ATIS_LOOP_DELAY_MS=4000
